- var title = 'Utilities';
- var subtitle = 'Breakpoints';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    header
      include includes/navbar.pug

    include includes/title-details.pug



    div(style="margin-top:500px;")