- var title = 'CSS Components';
- var subtitle = 'Navbar';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    include includes/title-details.pug

    // SIMPLE NAVBAR
    nav.navbar.navbar-expand-sm.navbar-light.bg-light.mb-3
      .container
        a.navbar-brand(href='#') Navbar
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') Contact

    div(style="margin-top:500px;")