doctype html
html(lang="en")
  
  include includes/header.pug

  body
    .jumbotron.jumbotron-fluid.jumbotron-main-page
      
      include includes/navbar.pug

      .container
        .row
          .col
            h4.display-4.h4-responsive.font-weight-bold Accelerate you codding
            p.text-primary UI KIT
            
            br
            
            p
              strong 100+
              |  Elementos, 
              strong 1400+
              |  Inconos (Fontawesome, Material Icons),
            
            p 
              strong 74
              |  Animaciones CSS, Archivos .scss, Tutoriales y mas. 
              strong Libre para uso personal o comercial.
            
            a.btn.btn-primary.mr-2(href='#')
              | Descargar
              i.fa.fa-download.ml-1
            a.btn.btn-info.mr-2(href='#')
              | GitHub
              i.fa.fa-github.ml-1
            a.btn.btn-light.mr-2(target='_blank', href='#')
              | Demo
              i.fa.fa-image.ml-1
  