- var title = 'Utilities';
- var subtitle = 'Basic typography';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    header
      include includes/navbar.pug

    include includes/title-details.pug

    .container
      | Contenido tipografias