doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    header
      h1.display-3.text-center.my-4 Configuraciones Bootpak

      include includes/navbar.pug
    
    //- Contenido principal
    .container.d-flex.h-50
      .row
        .col
          h1 Hola mundo desde Bootstrap 4
    
    //- Footer
    include includes/footer.pug