doctype html
html(lang="en")
  
  include includes/header.pug

  body

    include includes/navbar.pug
    
    | contenido principal
    
    .container
      .row
        .col
          h1 Hola mundo desde Bootstrap 4

    include includes/footer.pug